<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>problem set 8</title>
    <style>
        li{
            display: flex;
            align-items: center;
        }
        li span {
            margin-left: 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<label>
    task title:
    <input type="text" placeholder="Enter at least 5 character!">
</label>
<label>
    time:
    <input type="time" >
</label>
<button onclick="add()">
    add
</button>
<p>

</p>
<ul>

</ul>
<script src="../js/problemSet8.js"></script>
</body>
</html>